@mixin flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

@mixin box-shadow-scroll-X-Y-equal-value {
  box-shadow: 3px 3px 11px 0px $light-black;
}

@mixin box-shadow-scroll-Xright-Ydown {
  box-shadow: 4px 3px 14px 0px $light-black;
}
